<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Info</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <a href="/scrape"><button type="button" class="btn btn-primary btn-lrg">Scrape New Data</button></a>
    </div>
    <div class="col-xs-12">
      <h3>Latest Mars News</h3>
      <h5>{{ mars.Mars_News_Title }}</h5>
      <p>{{ mars.Mars_News_Text }}</p>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <h3>Featured Mars Image</h3>
        <img src="{{ mars.Featured_Image }}" alt="featured image of mars">
      </div>
      <div class="col-xs-4">
        <table>
          {{ mars.Mars_Facts }}
        </table>
      </div>
    </div>
    <div class="col-xs-12">
      <center><h3>Mars Hemispheres</h3></center>
    </div>
    <div class="col-xs-6">
      <figure>
        <img src="{{ mars.Mars_Hemisphere_1.img_url }}" alt="image of Cerberus Hemisphere">
      </figure>
      <figcaption>{{ mars.Mars_Hemisphere_1.title }}</figcaption>
    </div>
    <div class="col-xs-6">
      <figure>
        <img src="{{ mars.Mars_Hemisphere_2.img_url }}" alt="image of Schiaparelli Hemisphere">
      </figure>
      <figcaption>{{ mars.Mars_Hemisphere_2.title }}</figcaption>
    </div>
    <div class="col-xs-6">
      <figure>
        <img src="{{ mars.Mars_Hemisphere_3.img_url }}" alt="image of Syrtis Major Hemisphere">
      </figure>
      <figcaption>{{ mars.Mars_Hemisphere_3.title }}</figcaption>
    </div>
    <div class="col-xs-6">
      <figure>
        <img src="{{ mars.Mars_Hemisphere_4.img_url }}" alt="image of Valles Marineris Hemisphere">
      </figure>
      <figcaption>{{ mars.Mars_Hemisphere_4.title }}</figcaption>
    </div>
  </div>
</body>

</html>
